* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  margin-left: 20px;
}
.folder {
  cursor: pointer;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(215, 202, 202);
  width: 300px;
  padding: 3px;
}

.file {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}
